.about-me {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;

    .statement {
        font-family: $font-heading;
        font-size: 2.5rem;

        @media screen and (min-width: 1200px) {
            font-size: 3rem;
        }
    }

    .about-content {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 850px) {
    .about-me {
        width: 70%;
    }
}

@media screen and (min-width: 1000px) {
    .about-me {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .about-me {
        width: 70rem;
    }
}


