.header {
    background-image: url(../img/bridge-hero.png);
    background-position: center;
    background-size: cover;
    height: 95vh;
    padding: 0;

    @media screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: 15rem auto;
    }

    .navbar {
        background-color: $color-primary-dark;
        height: 8rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media screen and (min-width: 1200px) {
            grid-column: 1/2;
            grid-row: 1/2;
            height: auto;
        }

        .menu {
            display: flex;
            justify-content: space-evenly;
            width: 80%;

            @media screen and (min-width: 800px) {
                width: 60%;
            }

            @media screen and (min-width: 1200px) {
                flex-direction: column;
                width: 100%;
                line-height: 10rem;
            }

            .menu-item {
                text-transform: uppercase;
            }
        }
    }

    .hero-area {       
        position: relative;

        @media screen and (min-width: 1200px) {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .logo-box {
            position: absolute;
            top: 3rem;
            right: 5rem;

            .logo {
                width: 18rem;
            }
        }

        .heading {
            position: absolute;
            top: 18rem;
            left: 25%;
            max-width: 70%;

            @media screen and (min-width: 1200px) {
                top: 25rem;
            }

            @media screen and (min-width: 1600px) {
                left: 30%;
            }
        }
    }
}